* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* -----------------------navbar styles------------------------- */
.nav-bg {
    background: rgba(255, 144, 14, 0.1);
    height: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

}

.nav-container a {
    text-decoration: none;
    color: black;
}

.navbar li {
    list-style: none;
    margin-right: 50px;
    font-weight: 500;
    font-size: 18px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #424242;
}

.logo {
    font-weight: 700;
    font-size: 45px;
}

/* ---------------------banner styles------------------- */
.heading-text {
    text-align: center;
    margin-top: 115px;
}

.heading-text h1 {
    font-weight: 700;
    font-size: 64px;
}

.heading-text p {
    margin-top: 26px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 0;

}

.primary-btn {
    background: #FF900E;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 35px 0;
}

.banner-img {
    padding-bottom: 45px;
}

.banner-img img {
    border-radius: 15px;
    width: 90%;
    margin: auto;
    display: block;
}

/* ------------------------quick list area styles--------------------- */
.quick-list-container {
    margin-top: 85px;
    width: 100%;
}

.quick-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 73px;
}

.quick-images {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 12px;

}

.quick-gray {
    font-weight: 500;
    color: #727272;
}

.quick-black {
    font-weight: 700;
    color: #131313;
}

.quick-orange {
    color: #FF900E;
    font-weight: 700px;
    margin-bottom: 15px;
}

.quick-text h2 {
    line-height: 53px;
    font-size: 45px;

}

/* -----------------------------features area styles------------------------- */
.features-container {
    margin-top: 115px;
    display: flex;
    justify-content: space-between;
    gap: 75px;

}

.feature-text h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}

.feature-text p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.feature-card {
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    margin-top: 25px;
}

.feature-image img {
    border-radius: 15px;
    height: 90%;
    display: block;
    margin: auto;
}