* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* -----------------------navbar styles------------------------- */
.nav-bg {
    background: rgba(255, 144, 14, 0.1);
    height: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

}

.nav-container a {
    text-decoration: none;
    color: black;
}

.navbar li {
    list-style: none;
    margin-right: 50px;
    font-weight: 500;
    font-size: 18px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #424242;
}

.logo {
    font-weight: 700;
    font-size: 45px;
}

/* ---------------------banner styles------------------- */
.heading-text {
    text-align: center;
    margin-top: 115px;
}

.heading-text h1 {
    font-weight: 700;
    font-size: 64px;
}

.heading-text p {
    margin-top: 26px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 0;

}

.primary-btn {
    background: #FF900E;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 35px 0;
}

.banner-img {
    padding-bottom: 45px;
}

.banner-img img {
    border-radius: 15px;
    width: 90%;
    margin: auto;
    display: block;
}

/* ------------------------quick list area styles--------------------- */
.quick-list-container {
    margin-top: 85px;
    width: 100%;
}

.quick-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 73px;
}

.quick-images {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 12px;

}

.quick-gray {
    font-weight: 500;
    color: #727272;
}

.quick-black {
    font-weight: 700;
    color: #131313;
}

.quick-orange {
    color: #FF900E;
    font-weight: 700px;
    margin-bottom: 15px;
}

.quick-text h2 {
    line-height: 53px;
    font-size: 45px;

}

/* -----------------------------features area styles------------------------- */
.features-container {
    margin-top: 115px;
    display: flex;
    justify-content: space-between;
    gap: 75px;

}

.feature-text h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}

.feature-text p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.feature-card {
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    margin-top: 25px;
}

.feature-image img {
    border-radius: 15px;
    height: 92%;
    display: block;
    margin: auto;
}

.experience-btn {
    border: none;
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    position: relative;
    left: 56%;
    top: 90%;
    transform: translate(-56%, -90%);
}

.experience-btn h1 {
    font-weight: 700;
    font-size: 65px;
    color: white;
}

.experience-btn p {
    font-weight: 500;
    font-size: 25px;
    color: white;
}

/* ----------------------- some facts area styles --------------------------- */
.facts-container h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 18px;
}

.facts-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.facts-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.fact-item {
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 242px;
    width: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fact-item h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
}

.fact-item p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

/* ----------------------- sponsor area styles ----------------------------- */
.sponsor-container {
    text-align: center;
    margin-top: 70px;
}

.sponsor-container h2 {
    margin: 30px 0;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.sponsor-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.sponsor-img {
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* ---------------------- contact us area styles ----------------------------------- */
.contact-us {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-img img {
    display: inline-block;
    margin: auto;
    border-radius: 10px;

}

.contact-form>label {
    display: block;
    margin-top: 25px;
    font-size: xx-large;
}

.contact-form h2 {
    font-size: 40px;
    font-weight: 500;
    color: #FF900E;
}

.contact-form p {
    font-size: 20px;
    color: #727272;
    font-weight: 400;
    margin-top: 10px;
}

textarea {
    font-size: large;
}

input,
textarea {
    font-size: large;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 20px 30px;
    border-radius: 8px;
}

/* ------------------------------- footer area styles------------------------------ */
.footer {
    background: #FFF4E7;
    padding: 50px;
    margin: 110px 0;
    border-radius: 15px;
}

.footer p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #424242;
}

/* ------------------------------ media queries -------------------------------- */
@media only screen and (min-width:0px) and (max-width:576px) {
    body {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .navbar {
        display: flex;
        flex-direction: column;
    }
        .logo {
            font-weight: 700;
            font-size: 22px;
        }
    .navbar li {
        list-style: none;
        margin: 0 auto;
        font-weight: 500;
        font-size: 22px;
        padding: 8px 0;
    }
        .heading-text {
            text-align: center;
            margin-top: 60px;
        }
    
        .heading-text h1 {
            font-weight: 700;
            font-size: 30px;
        }
    
        .heading-text p {
            margin-top: 16px;
            font-weight: 400;
            font-size: 16px;
            color: #727272;
            line-height: 20px;
    
        }
    
        .primary-btn {
            background: #FF900E;
            padding: 12px 20px;
            border-radius: 8px;
            font-weight: 600;
            font-size: 18px;
            color: white;
            border: none;
            cursor: pointer;
            margin: 30px 0;
        }
}